extends ../_includes/layout

block variables
  - var template = 'collections';

block content
  .collections
    .collections-wrapper
      .collections__titles
        each collection, index in collections
          .collections__titles-label!= `${home.data.collection}<br>${['One', 'Two', 'Three', 'Four'][index]}`
          .collections__titles-title= collection.data.title[0].text

      .collections__gallery
        .collections__gallery-wrapper
          each collection in collections
            each product in collection.data.products
              a.collections__gallery__link
              figure.collections__gallery-media
                img.collections__gallery-media__image(
                  alt=product.products_product.data.image.alt,
                  src=product.products_product.data.image.url
                )

      .collections__content
        each collection, index in collections
          article.collections__article(
            class=`${index === 0 && 'collections__article--active'}`
          )
            h2.collections__article-title= `${collection.data.title[0].text} ${home.data.collection}`
            p.collections__article-description= collection.data.description

      .collections__mobile
        each collection, index in collections
          .collections__mobile-item
            .collections__mobile-item__label!= `${home.data.collection}<br>${['One', 'Two', 'Three', 'Four'][index]}`
            .collections__mobile-item__title= collection.data.title[0].text
